.button
{
-fx-background-color : #FF7F8B;
-fx-text-fill : #FFFFFF;
-fx-font-family: "Jalnan";
}

.label
{
	-fx-font-family: "Jalnan";
}

.button:hover{
-fx-background-color : #E72C4B;
}
.button:pressed
{
-fx-background-color : #E72C4B;
}
