.button
{
-fx-background-color : #E72C4B;
-fx-text-fill : #FFFFFF;
-fx-font-family: "Jalnan";
}
.label
{
	-fx-font-family: "Jalnan";
}
.button:hover{
-fx-background-color : #C01632;
}
.button:pressed
{
-fx-background-color : #fffff;
}

.chart-plot-background {
    -fx-background-color: #ffffff;
}
.chart-vertical-grid-lines {
    -fx-stroke: #AFABAB;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #AFABAB;
}
.chart-alternative-row-fill {
    -fx-fill: #FDEDF0;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.default-color0.chart-series-line { 
	-fx-stroke: #E72C4B;
}
.default-color0.chart-line-symbol { 
	-fx-background-color: #E72C4B, white;
}

/* #title, #btn{
    -fx-font-family: "Jalnan";
    -fx-font-weight: bold;
    -fx-font-size: 24
} */
#lab_ctg {
	 -fx-font-size: 17px;
}
#labZzim {
	 -fx-font-family: "Jalnan";
}
#labMyPost {
	 -fx-font-family: "Jalnan";
}

#btnMyPost {
	-fx-font-family: "Jalnan";
	-fx-font-size: 8px;
}

#btnMyZzim {
	-fx-font-family: "Jalnan";
	-fx-font-size: 8px;
}

#categoryRank_listview {
	-fx-font-family: "Jalnan";
	 -fx-font-size: 21px;
}

#grade_listview {
	-fx-font-family: "Jalnan";
	-fx-font-size: 13px;
}

#cobMyZzim, #cobMyPost{
	-fx-font-family: "Jalnan";
}

#review_listview{
	-fx-font-family: "Jalnan";
	-fx-font-size: 13px;
}

